bin/
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

*.cover
*.cov
*.profile
*.prof
*.pprof
coverage/

*.log
*.tmp
*.swp
*.swo
*.DS_Store
*.idea/
*.vscode/

.gocache/

/resterm

# test harness services
_test_services/

resterm_*
